<section class="p-0" id="seven_seas">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-12 text-center bg-primary" style="padding:10px;">
                <h2 class="section-heading text-white"><i class="fas fa-quote-left"></i> {{config.seventitle}} <i class="fas fa-quote-right"></i></h2>
            </div>
        </div>
        <div class="row no-gutters popup-gallery bg-primary">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#" onclick="return false;">
                    <img class="img-fluid" src="{{asset('images/template/conferring-icon.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded" style="font-size: 18px;">
                                CONFERRING
                            </div>
                            <div class="project-name" style="font-size: 14px;">
                                {{config.sevenconfering|raw}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#" onclick="return false;">
                    <img class="img-fluid" src="{{asset('images/template/quill-icon.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded" style="font-size: 18px;">
                                CREATING
                            </div>
                            <div class="project-name" style="font-size: 14px;">
                                {{config.sevencreating|raw}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#" onclick="return false;">
                    <img class="img-fluid" src="{{asset('images/template/capitalizing-icon.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded" style="font-size: 18px;">
                                CAPITALIZING
                            </div>
                            <div class="project-name" style="font-size: 14px;">
                                {{config.sevencapitalizing|raw}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#" onclick="return false;">
                    <img class="img-fluid" src="{{asset('images/template/contracting-icon.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded" style="font-size: 18px;">
                                CONTRACTING
                            </div>
                            <div class="project-name" style="font-size: 14px;">
                                {{config.sevencontracting|raw}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#" onclick="return false;">
                    <img class="img-fluid" src="{{asset('images/template/constructing-icon.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded" style="font-size: 18px;">
                                CONSTRUCTING
                            </div>
                            <div class="project-name" style="font-size: 14px;">
                                {{config.sevenconstructing|raw}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#" onclick="return false;">
                    <img class="img-fluid" src="{{asset('images/template/celebrating-icon.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded" style="font-size: 18px;">
                                CELEBRATING/CLOSING
                            </div>
                            <div class="project-name" style="font-size: 14px;">
                              {{config.sevencelebrating|raw}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#" onclick="return false;">
                    <img class="img-fluid" src="{{asset('images/template/community-icon.png')}}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded" style="font-size: 18px;">
                                COMMUNITY/CONTRIBUTING
                            </div>
                            <div class="project-name" style="font-size: 14px;">
                              {{config.sevencommunity|raw}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
            </div>
        </div>
    </div>
  </section>