<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{config.workstitle}}</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {{config.worksdescriptionshort|raw}} <a href="#" data-toggle="modal" aria-hidden="true" data-target="#worksModal">Read More</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <!-- <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i> -->
                    <img src="{{ asset('images/template/bible.png') }}" alt="Observing God's Word" width="150" />
                    <h3 class="mb-3">Observing</h3>
                    <p class="text-muted mb-0">{{config.worksobserving}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <!-- <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i> -->
                    <img src="{{ asset('images/template/thinking-man-statue.png') }}" alt="Interpreting" width="150" />
                    <h3 class="mb-3">Interpreting</h3>
                    <p class="text-muted mb-0">{{config.worksinterpreting}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <!-- <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i> -->
                    <img src="{{ asset('images/template/hardhatandtools.png') }}" alt="Living" width="150" />
                    <h3 class="mb-3">Living</h3>
                    <p class="text-muted mb-0">{{config.worksliving}}</p>
                </div>
            </div>
        </div>
    </div>
  </section>
<div class="modal" id="worksModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">How It Works</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{config.worksdescription|raw}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>