<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('build/app.css') }}" rel="stylesheet">
        {% endblock %}
        
        
    </head>
    <body id='page-top'>
        
        
        <!-- Navigation -->
        {{ include('layout/nav.html.twig') }}
        <!-- Header -->
        {{ include('layout/header.html.twig') }}
        <!--About section -->
        {{ include('layout/sections/about-section.html.twig')}}
        <!-- Services section -->
        {{ include('layout/sections/services-section.html.twig') }}
        <!-- Portfolio section -->
        {{ include('layout/sections/portfolio-section.html.twig') }}
        <!-- GuyEast section -->
        {{ include('layout/sections/guyeast-section.html.twig') }}
        
        <!-- Main body block -->
        {% block body %}{% endblock %}
        
        <!-- Contact section -->
        {{ include('layout/sections/contact-section.html.twig') }}
        
        <!-- Javascript block -->
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
